html {
    font-size: 62.5%;
  }
  
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-base;
}
<<<<<<< HEAD

.is-active{
  font-weight: bold;
}
=======
>>>>>>> ea05da6d2ac1e399b15da076fafa5862bf0e772d
